
@{
    ViewData["Title"] = "Index";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<style>
    .main {
        padding-top: 0 !important;
    }

        .main > .container {
            width: 100% !important;
            padding: 0 !important;
        }
</style>
<section class="sect1">
    <div class="wrapper">
        <div><h4>Преимущество ЕНТ Глобуса</h4></div>
        <div class="sect1Flex">
            <div>
                <img src="/images/ico1.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
            <div>
                <img src="/images/ico2.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
            <div>
                <img src="/images/ico3.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
            <div>
                <img src="/images/ico4.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
        </div>
    </div>
</section>
<section class="sectionG">
    <div class="sectionGrid">
        <div>
            <div class="tittle">
                <img src="/images/ico1.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, corrupti, enim? Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.</p>
        </div>
        <div>
            <img src="/images/mob1.png" alt="">
        </div>
    </div>
</section>
<section class="sectionF">
    <div class="sectionFrid">
        <div>
            <img src="/images/mob2.png" alt="">
        </div>
        <div>
            <div class="tittle">
                <p>Lorem ipsum dolor sit amet,<br> consectetur.</p>
                <img src="/images/ico2.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, corrupti, enim? Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.</p>
        </div>
    </div>
</section>
<section class="sectionG">
    <div class="sectionGrid2">
        <div>
            <div class="tittle">
                <img src="/images/ico3.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, corrupti, enim? Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.</p>
        </div>
        <div>
            <img src="/images/mob3.png" alt="">
        </div>
    </div>
</section>
<section class="sectShow">
    <div onClick="window.location.href=''"
         class="areaOne">
        <p>Test</p>
        <img src="/images/adap_mobi1.png" alt="">
    </div>
    <div onClick="window.location.href=''" class="areaTwo">
        <p>Test</p>
        <img src="/images/adap_mobi2.png" alt="">
    </div>
    <div onClick="window.location.href=''" class="areaThree">
        <p>Test</p>
        <img src="/images/adap_mobi3.png" alt="">
    </div>
</section>
<footer>
    <div class="wrapper">
        <ul>
            <li>+77000000000</li>
        </ul>
    </div>
</footer>


