@model EntGlobus.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Ent Globus";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script>

</script>

<style>
    .main {
        padding-top: 0 !important;
    }

        .main > .container {
            width: 100% !important;
            padding: 0 !important;
        }
</style>
<header id="header">
    <div class="nav">
    </div>
    <div class="wrapper">
        <div class="toggle">
            <div class="span"></div>
            <div class="span"></div>
            <div class="span"></div>
        </div>
        <div class="headImg">
            <img src="/images/ico_white.png" alt="">
        </div>
        <nav>
            <div class="headerImg">
                <a href="/"><img src="/images/Logo-EntGlobus.png" alt=""></a>
            </div>
            <div class="headerMenu">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">О&nbsp;нас</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="headerFollow">
                <ul>

                    <li><a href="https://vk.com/entglobus_kz">vk</a></li>
                    <li><a href="https://wa.me/77006406004?text=Сәлеметсізбе,(EntGlobus-сайтынын)">watsapp</a></li>
                </ul>
            </div>
        </nav>
        <div class="headMenu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="#">О&nbsp;нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="toggle2"></div>
        <div class="headerContent">
            <h3>Ent Globus - полезный помощьник к подготовке к ЕНТ</h3>
            <p>Для входа введите логин и пароль,<br /> которую зарегистрировали<br /> в мобильном приложении "EntGlobus offline"</p>
            <div asp-validation-summary="ModelOnly"></div>
            <form asp-controller="Acount" asp-action="Login" method="post">


                <input asp-for="TelNum" id="newm" type="tel" placeholder="+7(700)000-00-00" required /><br />

                <input asp-for="Password" type="password" placeholder="Пaроль..." required /><br />
                <button type="submit" onclick="NumChange()">Вход</button>
            </form>
            <p style="color:red;">*Если вы еще не зарегистрированы <br /> в мобильном приложении "EntGlobus offline",<br /> тогда скачайте по ссылке ниже и <br /> зарегистрируйтесь в приложении.</p>
        </div>
        <div class="headerApplication">
            <ul>
                <li><a href="https://play.google.com/store/apps/details?id=com.entglobusoffline&hl=ru">Play Market</a></li>
                <li><a href="https://itunes.apple.com/us/app/entglobusoffline/id1449869137?l=ru&ls=1&mt=8">App Store</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="sect1">
    <div class="wrapper">
        <div><h4>Преимущество ЕНТ Глобуса</h4></div>
        <div class="sect1Flex">
            <div>
                <img src="/images/ico1.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
            <div>
                <img src="/images/ico2.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
            <div>
                <img src="/images/ico3.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
            <div>
                <img src="/images/ico4.png" alt=""><br>
                <p><strong>Тест</strong></p>
                <small>Барлық пән бойынша<br> тест тапсыру</small>
            </div>
        </div>
    </div>
</section>
<section class="sectionG">
    <div class="sectionGrid">
        <div>
            <div class="tittle">
                <img src="/images/ico1.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, corrupti, enim? Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.</p>
        </div>
        <div>
            <img src="/images/mob1.png" alt="">
        </div>
    </div>
</section>
<section class="sectionF">
    <div class="sectionFrid">
        <div>
            <img src="/images/mob2.png" alt="">
        </div>
        <div>
            <div class="tittle">
                <p>Lorem ipsum dolor sit amet,<br> consectetur.</p>
                <img src="/images/ico2.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, corrupti, enim? Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.</p>
        </div>
    </div>
</section>
<section class="sectionG">
    <div class="sectionGrid2">
        <div>
            <div class="tittle">
                <img src="/images/ico3.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, corrupti, enim? Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.Assumenda voluptatem pariatur ipsum vitae temporibus aspernatur! Ipsum optio voluptatum dolor, quos, officia omnis. Ducimus id labore, perferendis vitae.</p>
        </div>
        <div>
            <img src="/images/mob3.png" alt="">
        </div>
    </div>
</section>
<section class="sectShow">
    <div onClick="window.location.href=''"
         class="areaOne">
        <p>Test</p>
        <img src="/images/adap_mobi1.png" alt="">
    </div>
    <div onClick="window.location.href=''" class="areaTwo">
        <p>Test</p>
        <img src="/images/adap_mobi2.png" alt="">
    </div>
    <div onClick="window.location.href=''" class="areaThree">
        <p>Test</p>
        <img src="/images/adap_mobi3.png" alt="">
    </div>
</section>
<footer>
    <div class="wrapper">
        <ul>
            <li>+77078849697</li>
        </ul>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    function NumChange() {
        var number = document.getElementById("newm").value;
        console.log(number);
        var str = number.charAt(0);
        if (str == "+") {
            var newnum = number.replace(str, "");
            var nn = number.value = newnum;
            document.getElementById("newm").value = newnum;
            console.log(nn);
            console.log(number);
        }
    }


    $(".toggle").click(function () {
        $(this).toggleClass("on");
        $(".headMenu").toggleClass("active");
        $(".toggle2").toggleClass("active");
    });
    $(".toggle2").click(function () {
        $(this).toggleClass("on");
        $(".headMenu").toggleClass("active");
        $(".toggle2").toggleClass("active");
    });
</script>
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+77078849697", // WhatsApp number
            call: "+77078849697", // Call phone number
            call_to_action: "Связь с разработчиком", // Call to action
            button_color: "#A8CE50", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp,call", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>









