
@{
    ViewData["Title"] = "Close";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}


<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/giff.css">


<div class="wrap">
    <div class="main">
        <header>
            <p><a href="~/LiveTest/LiveTest/Lesson" class="back"><i class="fa fa-chevron-left"></i></a> Онлайн пәндік сабақ</p>
            <p class="panName">@ViewBag.Pan</p>
        </header>
        <div class="content">
            <div class="closed">
                <img src="~/Live/img/teach.gif">
                <h3>Онлайн сабақ жақында қосылады</h3>
            </div>
        </div>
    </div>
</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>
<script>

</script>