
@{
    ViewData["Title"] = "ErrorPage";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}

<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/404.css">

<div class="wrap">
    <div class="main">
        <header>
            <p><a href="#" class="back"><i class="fa fa-chevron-left"></i></a> Онлайн нұсқа талдау</p>
        </header>
        <div class="content">
            <p>404</p>
            <p>Қателік кетті</p>
            <p>Онлайн бетіне қайттан кіріңіз!!!</p>
        </div>
    </div>
</div>