
@{
    ViewData["Title"] = "Index3";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}

<h2>Index3</h2>

<hr />


<div class="widget_wrapper"><div class="ewp_form_container ewp_widget_container" webinar_id="2sALMgj7gYROLUC4Tqjleg=="></div>
<script type="text/javascript" src="https://ewpcdn.easywebinar.com/widget/js/ewp_widget.js?v=1.23.13"></script></div>
