
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}

<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/onlineNuska.css">


<div class="wrap">
    <div class="main">
        <header>
            Онлайн сабақ
        </header>
        <div class="content">
            <a href="~/LiveTest/LiveTest/Lesson" class="pan">
                <div class="img-block">
                    <img src="~/Live/img/mentor.png">
                </div>
                <span class="new">жаңа</span>
                <h2>ҰБТ</h2>
                <h3>Онлайн сабақтар</h3>
            </a>
            <a href="/Nish/Nish/Index" class="pan">
                <div class="img-block">
                    <img src="~/Live/img/mentor.png">
                </div>
                <span class="new">жаңа</span>
                <h2>НИШ</h2>
                <h3>Онлайн сабақ</h3>
            </a>
            @*<a href="/School/Prob" class="pan">
                <div class="img-block">
                    <img src="~/Live/img/mentor.png">
                </div>
                <span class="new">жаңа</span>
                <h2>Мектеп 65</h2>
                <h3>Онлайн сабақ</h3>
                <p>Барлық пән бойынша</p>
            </a>
            <a href="/School/Prob" class="pan">
                <div class="img-block">
                    <img src="~/Live/img/mentor.png">
                </div>
                <span class="new">жаңа</span>
                <h2>Мектеп 131</h2>
                <h3>Онлайн сабақ</h3>
                <p>Барлық пән бойынша</p>
            </a>*@
            @*<a href="/School/Method" class="pan">
                <div class="img-block">
                    <img src="~/Live/img/mentor.png">
                </div>
                <span class="new">жаңа</span>
                <h2>Әдістемелік орталық</h2>
                <p>Онлайн вебинар</p>
            </a>*@
            @*<a href="#" class="pan">
            <div class="img-block">
                <img src="~/Live/img/mentor.png">
            </div>
            <span class="new">жаңа</span>
            <h3>Онлайн нұсқа талдау!</h3>
            <p>Барлық пән бойынша</p>
        </a>*@
        </div>
    </div>
</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>