
@{
    ViewData["Title"] = "NextPay";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}



<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/buyLesson.css">

<div class="wrap">
    <div class="main">
        <header>
            <p><a href="#" class="back"><i class="fa fa-chevron-left"></i></a> Курсты сатып алу</p>
            <p class="panName">һһһһһһ</p>
        </header>
        <div class="content">
            <div class="buyPresent">
                <h3>1 айға<button class="buy-btn">Сатып алу</button>5000тг</h3>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/lLaDKcK0i04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>
<script>

</script>
