
@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}


<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/buyLesson.css">

<div class="wrap">
    <div class="main">
        <header>
            <p><a href="~/LiveTest/LiveTest/Lesson" class="back"><i class="fa fa-chevron-left"></i></a> Онлайн нұсқа талдау</p>
            <p class="panName">@ViewBag.Name</p>
        </header>
        <div class="content">
            <div class="buyPresent">
                <h3>1 айға<a href="http://ansar-gsa.kz/LiveTestPay.php?type=@ViewBag.Name&user_id=e2c0f46b-d540-4d24-9440-894c1084baab&price=20&description=@ViewBag.Name+пәні+бойынша+онлайнт+нұсқа+талдау&pan=livetest" class="buy-btn">Сатып алу</a>5000тг</h3>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/lLaDKcK0i04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>
<script>

</script>