
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Movi.cshtml";
}

<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" style="font-size:40px!important;color:red;" class="close"  data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">3 нуска/Математика 13-есеп</h4>
                </div>
                <div class="modal-body text-center">
                    <iframe width="360" height="300" src="https://www.youtube.com/embed/sDXcpS2Zh88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


