@model EntGlobus.Models.Qiwipay
@{
    ViewData["Title"] = "Qiwiorder";
}
<a href="/User/Spisok"> &larr; артқа</a>
<h3>Qiwi арқылы төлем</h3>

<p style="font-weight:bold;">@Model.type пәніне <span style="color:green;font-weight:bold;" >заказ номері</span> @Model.account</p>
<p  style="font-weight:bold;"><span style="color:red;font-weight:bold">1&curren;</span> Еліміздің кез-келген терминалынан Другие услуги->Поиск->EntGlobus немесе Образование->EntGlobus-ты ашаңыз!</p>

<p style="font-weight:bold;"><span style="color:red;font-weight:bold">2&curren;</span> Номер заказаға жоғарыда көрсетілген заказ номерін енгізіңіз!</p>
<p style="font-weight:bold;"><span style="color:red;font-weight:bold">3&curren;</span> Артық ақша салған жағдайда единица ретінде қайтаратын Телефон номеріңізді жазыңыз(Шыққан жағдайда ғана)</p>
<p  style="font-weight:bold;"><span style="color:red;font-weight:bold">4&curren;</span> Сәтті төлемнен кейін сізде @Model.type пәні автоматты түрде ашылады.</p>
<p style="color:green;font-weight:bold"> Бізбен бірге болғаныңызға қуаныштымыз! Сәттілік &hearts; &hearts; &hearts;</p>


                                                   