
@{
    ViewData["Title"] = "CreateQrBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Qr Book</h2>

<div class="row">
    <form class="form-group" asp-action="CreateQrBook">
        <input name="name" type="text" class="form-control" />
        <input type="submit" value="Create" class="btn btn-success" />
    </form>
</div>