@model IEnumerable<EntGlobus.Models.QR.QrVideo>
@{
    ViewData["Title"] = "InQrBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>In Qr Book</h2>

<a class="btn btn-success">Create</a>

<div class="row">
    <table class="table table-bordered table-hover">
        <thead style="background-color:slateblue;color:white;">
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>QR</th>
                <th>URL</th>
                <th>URL Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Title</td>
                    <td>@d.Id</td>
                    <td><a class="btn btn-warning" style="" href="http://qrcoder.ru/code/?@d.Id&6&0" target="_blank">QR</a></td>
                    <td>@d.VideoUrl ?</td>
                    <td>
                        <a class="btn btn-toolbar" disable>Edit</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>