@model IEnumerable<EntGlobus.Models.QR.QrNuska>
@{
    ViewData["Title"] = "InQrBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Нұсқалар</h2>

<a class="btn btn-success" href="/Admin/AddNuska/@ViewBag.BookId">Нұсқа қосу</a>

<div class="row">
    <table class="table table-bordered table-hover">
        <thead style="background-color:slateblue;color:white;">
            <tr>
                <th>Нұсқа</th>
                <th>Вход</th>
                <th>Действия</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.NuskaNumber</td>
                    <td><a href="/Admin/NuskaVideo/@d.Id" class="btn">Видеолар</a></td>
                    @*<td>
                        <a class="btn btn-warning" href="/Admin/UpdateQrVideo/@d.Id" >Edit ---</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="/Admin/DeleteQr/@d.Id">Удалить ---</a>
                    </td>*@
                </tr>
            }

        </tbody>
    </table>
</div>