@model IEnumerable<EntGlobus.Models.NishDbFolder.NishCourse>

@{
    ViewData["Title"] = "NishAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NishAdmin</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-warning" href="/admin/InNish/@item.Id">Вход</a>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" href="/admin/OpenNish">Доступ</a>
