
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}

<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/panSelect.css">

<div class="wrap">
    <div class="main">
        <header>
            Онлайн пәндік сабақ
        </header>
        <div class="content">
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/matem-select.png">
                </div>
                <p class="panName">Математика</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/fizika-select.png">
                </div>
                <p class="panName">Физика</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/himia-select.png">
                </div>
                <p class="panName">Химия</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/geografia-select.png">
                </div>
                <p class="panName">География</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/biologia-select.png">
                </div>
                <p class="panName">Биология</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/kazTarih-select.png">
                </div>
                <p class="panName">Қазақстан Тарихы</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/dzhTarih-select.png">
                </div>
                <p class="panName">Дүниежүзі Тарихы</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/adebiet-select.png">
                </div>
                <p class="panName">Қазақ Әдебиеті</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/kazTili-select.png">
                </div>
                <p class="panName">Қазақ тілі</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/akk-select.png">
                </div>
                <p class="panName">АҚҚ</p>
            </a>
            <a href="~/Live/Index2" class="pan">
                <div class="img-block">
                    <img src="img/english-select.png">
                </div>
                <p class="panName">Ағылшын тілі</p>
            </a>
        </div>
    </div>
</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>