@model IEnumerable<EntGlobus.Areas.LiveTest.ViewModels.LiveLessonViewModel>
@{
    ViewData["Title"] = "Lesson";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}


<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/panSelect.css">

<div class="wrap">
    <div class="main">
        <header>
            <a href="~/LiveTest/LiveTest/Index" class="back"><i class="fa fa-chevron-left"></i></a> Онлайн сабақ
        </header>
        <div class="content">

            @foreach (var d in Model)
            {
                if (d.LiveRealTime == true)
                {
                    <a href="#" class="pan">
                        <span class="live-effect">
                            <span></span>
                            <p></p>
                        </span>
                        <div class="img-block">
                            <img src="@d.Icon">
                        </div>
                        <p class="panName">@d.Name</p>
                    </a>
                }
                else
                {
                    <a href="#" class="pan">
                        <div class="img-block">
                            <img src="@d.Icon">
                        </div>
                        <p class="panName">@d.Name</p>
                    </a>
                }
            }

        </div>
    </div>
</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>