
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LiveLayout.cshtml";
}

<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/panSelect.css">

<div class="wrap">
    <div class="main">
        <header>
            <a href="~/LiveTest/LiveTest/Index" class="back"><i class="fa fa-chevron-left"></i></a> Онлайн сабақ
        </header>
        <div class="content">
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>1 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>2 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>3 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>4 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>5 сынып</p>
                </div>
                <p class="panName"></p>
            </a>


            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>6 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>7 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>8 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>9 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>10 сынып</p>
                </div>
                <p class="panName"></p>
            </a>
            <a href="~/school/school/Index2" class="pan">
                <div class="img-block">
                    @*<img src="Icon">*@
                    <p>11 сынып</p>
                </div>
                <p class="panName"></p>
            </a>

        </div>
    </div>
</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>