
@{
    ViewData["Title"] = "Edu";
    Layout = "~/Views/Shared/EduLayout.cshtml";
}

    <div class="main">
        <div class="home">
            <header>
                <a href="index.html" class="logo" title="EntGlobusEducation">EntGlobusEducation</a>
                <div class="nav">
                    <a href="#" class="video-nav">Видеокурс</a>
                    <a href="#" class="online-nav">Онлайн тест</a>
                    <a href="#" class="nuska-nav">Нұсқа талдау</a>
                    <a href="#" class="contact-nav">Контакты</a>
                </div>
                <div class="auth">
                    <a href="#" class="login">Кіру</a>
                    <a href="~/Home/Register" class="regist">Тіркелу</a>
                </div>
                <div class="login-modal">
                    <h3><i class="fa fa-times-circle close-modal"></i>Сайтқа кіру</h3>
                    <form>
                        <label>
                            <p>Телефон номері:</p>
                            <input type="text" name="phone" placeholder="Телефон номері" required>
                        </label>
                        <label>
                            <p>Құпиясөз:</p>
                            <input type="password" name="password" placeholder="Құпиясөз" required>
                        </label>
                        <button type="submit">Кіру</button>
                        <div class="social">
                            <a href="#"><i class="fa fa-vk"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </form>
                </div>
                <div class="burger">
                    <span><span></span></span>
                </div>
                <div class="menu">
                    <div class="nav-mob">
                        <a href="#" class="video-nav">Видеокурс</a>
                        <a href="#" class="online-nav">Онлайн тест</a>
                        <a href="#" class="nuska-nav">Нұсқа талдау</a>
                        <a href="#" class="contact-nav">Контакты</a>
                    </div>
                    <div class="auth-mob">
                        <a href="#" class="login">Кіру</a>
                        <a href="register.html" class="regist">Тіркелу</a>
                    </div>
                </div>
            </header>
            <div class="home-cont">
                <div class="home-cont-text">
                    <h1>Сені ҰБТ-ға тиімді <br>дайындайтын <br> платформа</h1>
                    <a href="#" class="btn-course">Курстар тізімі</a>
                </div>
                <img src="/edu/img/Home-cont-img.png">
            </div>
            <div class="home-abai">
                <img src="/edu/img/abai.png">
                <div class="karasoz">
                    <i class="fa fa-comment"></i>
                    <span class="space"></span>
                    <p>Қатысып көрмей, пайдалылығын біле алмайсың!</p>
                    <span class="avtor"><i class="fa fa-pencil"></i> АБАЙ</span>
                </div>
            </div>
            <button type="button" class="down-btn"><img src="img/down-btn.png"></button>
        </div>
        <div class="services">
            <h3>Дайындық жолдары!</h3>
            <div class="service-item">
                <img src="/edu/img/video-icon.png">
                <h3>Видеокурс</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="service-item">
                <img src="/edu/img/online-icon.png">
                <h3>Онлайн тест</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="service-item">
                <img src="/edu/img/nuska-icon.png">
                <h3>Нұсқа талдау</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="service-item">
                <img src="/edu/img/last-icon.png">
                <h3>Видеокурс</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="sect sect1">
            <img src="/edu/img/videokurs.png">
            <div class="sect-text">
                <h3>Видеокурс</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="sect sect2">
            <img src="/edu/img/online-test.png">
            <div class="sect-text sect2-text">
                <h3>Онлайн тест</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="sect sect3">
            <img src="/edu/img/online-nuska.png">
            <div class="sect-text">
                <h3>Онлайн нұсқа талдау</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <footer>
            +7 700 700 70 70
        </footer>
    </div>