
@{
    ViewData["Title"] = "Edu";
    Layout = "~/Views/Shared/EduLayout.cshtml";
}

    <div class="main">
        <div class="home">
            <header>
                <a href="Edu" class="logo" title="EntGlobusEducation">EntGlobusEducation</a>
                <div class="nav">
                    <a href="~/Home/Live" class="">Онлайн сабақ</a>
                    <a href="#" class="online-nav">Онлайн тест</a>
                    <a href="#" class="nuska-nav">Видеокурс</a>
                    <a href="#" class="contact-nav">Контакты</a>
                </div>
                <div class="auth">
                    <a href="~/Home/LoginPage" class="regist">Кіру</a>
                    <a href="~/Home/Register" class="regist">Тіркелу</a>
                </div>
                <div class="@*login-modal*@" style="display:none;">
                    <h3><i class="fa fa-times-circle close-modal"></i>Сайтқа кіру</h3>
                    <form>
                        <label>
                            <p>Телефон номері:</p>
                            <input type="text" name="phone" placeholder="Телефон номері" required>
                        </label>
                        <label>
                            <p>Құпиясөз:</p>
                            <input type="password" name="password" placeholder="Құпиясөз" required>
                        </label>
                        <button type="submit">Кіру</button>
                        <div class="social">
                            <a href="#"><i class="fa fa-vk"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </form>
                </div>
                <div class="burger">
                    <span><span></span></span>
                </div>
                <div class="menu">
                    <div class="nav-mob">
                        <a href="~/Home/Live" class="">Онлайн сабақ</a>
                        <a href="#" class="online-nav">Онлайн тест</a>
                        <a href="#" class="nuska-nav">Видеокурс</a>
                        <a href="#" class="contact-nav">Контакты</a>
                    </div>
                    <div class="auth-mob">
                        <a href="~/Home/LoginPage" class="regist">Кіру</a>
                        <a href="~/Home/Register" class="regist">Тіркелу</a>
                    </div>
                </div>
            </header>
            <div class="home-cont">
                <div class="home-cont-text">
                    <h1>EntGlobus - онлайн<br>оқыту орталығы<br>(Куср, НИШ, Мектеп)</h1>
                    <a href="#" class="btn-course">Курстар тізімі</a>
                </div>
                <img src="/edu/img/Home-cont-img.png">
            </div>
            <div class="home-abai">
                <img src="/edu/img/abai.png">
                <div class="karasoz">
                    <i class="fa fa-comment"></i>
                    <span class="space"></span>
                    <p>Қатысып көрмей, пайдалылығын біле алмайсың!</p>
                    <span class="avtor"><i class="fa fa-pencil"></i> АБАЙ</span>
                </div>
            </div>
            <button type="button" class="down-btn"><img src="~/edu/img/down-btn.png"></button>
        </div>
        <div class="services">
            <h3>Дайындық жолдары!</h3>
            <a href="~/LiveTest/LiveTest/Index" class="service-item">
                <img src="/edu/img/nuska-icon.png">
                <h3>Онлайн сабақ</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </a>
            <a href="#" class="service-item">
                <img src="/edu/img/video-icon.png">
                <h3>Видеокурс</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </a>
            <a href="#" class="service-item">
                <img src="/edu/img/online-icon.png">
                <h3>Онлайн тест</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </a>

            <a href="#" class="service-item">
                <img src="/edu/img/last-icon.png">
                <h3>Видеокурс</h3>
                <p>Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </a>
        </div>
        <div class="sect sect1">
            <img src="/edu/img/videokurs.png">
            <div class="sect-text">
                <h3>Видеокурс</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="sect sect2">
            <img src="/edu/img/online-test.png">
            <div class="sect-text sect2-text">
                <h3>Онлайн тест</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="sect sect3">
            <img src="/edu/img/online-nuska.png">
            <div class="sect-text">
                <h3>Онлайн нұсқа талдау</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <footer>
            +7 775 717 1714
        </footer>
    </div>